#activities {
    td {
        text-align: right;
    }
    #new-activity {
        max-width: 400px;
        margin: auto;
        button {
            width: 100%;
        }
        @media (max-width: 320px) {
            .form-group {
                width: 100%;
            }
        }
    }
    .activity {
        cursor: pointer;
        .activity-column {
            @include activityColumn;
        }
    }
}