//$success: #5cb85c;
$success: #24CCB4;
$danger: #d9534f;
$warning: #fca700;
$info: #5bc0de;
$primary: #337ab7;

$infoLight: #d9edf7;
$infoDark: #31708f;

$successLight: #dff0d8;
$successDark: #3c763d;

$warningLight: #fcf8e3;
$warningDark: #8a6d3b;

$base1: #ffb347;
$base2: #ffcc33;

$danger1: #FF753A;
$danger2: darken(#FF753A, 10%);
