$success: #5cb85c;
$danger: #d9534f;
$warning: #fca700;
$info: #5bc0de;
$primary: #337ab7;

$infoLight: #d9edf7;
$infoDark: #31708f;

$successLight: #dff0d8;
$successDark: #3c763d;

$warningLight: #fcf8e3;
$warningDark: #8a6d3b;