.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.fa-times {
    cursor: pointer;
    color: $danger;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-bottom-md {
  margin-bottom: 39px;
}

.margin-bottom-lg {
	margin-bottom: 140px;
}

.hover:hover {
	background: #b5b5b5;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	label {
		margin-bottom: 0;
		font-weight: normal;
	}
	input {
		margin-right: 5px;
	}
}

//to get a button like Bootstrap's button
.my-btn {
	// display: block;
	// width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	height: 34px;
	// line-height: 1.42857;
	padding: 6px 12px;
	// width: 30%;
	// text-align: center;
	// vertical-align: middle;
	&:active {
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
		border: 1px solid black;
	}
	&:focus {
		outline: thin dotted;
		outline-offset: -2px;
	}
	&:hover, &:focus, &:active {
		background-color: #e6e6e6;
		border-color: #adadad;
		color: #333;
	}
	// .btn:focus, .btn:active:focus, .btn.active:focus {
	//     outline: thin dotted;
	//     outline-offset: -2px;
	// }
	// .btn:active, .btn.active {
	//     background-image: none;
	//     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
	// }
	// .btn:hover, .btn:focus {
	//     color: #333;
	//     text-decoration: none;
	// }
}

.my-input-group {
	// display: flex;
	input, button {
		display: block;
		width: 100%;
	}
}

.my-btn-group {
	display: flex;
	display: -webkit-flex;
	button {
		display: block;
		width: 100%;
	}
}


.fa {
	font-size: 19px;
	&.fa-star {
		// font-size: 10%;
	}
}

.min-width-md {
	min-width: 40px;
}
.max-width-md {
	max-width: 40px;
}
.max-width-lg {
	max-width: 80px;
}