@media (max-width: 480px) {
	.my-input-group {
		input {
			padding-left: 0;
			padding-right: 0;
			// max-width: 10px;
		}
		button {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.my-btn-group {
		button {
			padding-left: 0;
			padding-right: 0;
		}
	}
	#today {
		padding-left: 0;
		padding-right: 0;
		max-width: 40px;
	}
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 601px) {
    .iphone {
        display: none;
    }
}