.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    label {
        margin-bottom: 0;
        margin-right: 5px;
        font-weight: normal;
    }
    input {
        margin-right: 5px;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
}