
.input-group-container {
    margin-bottom: 7px;
    .input-group {
        &:not(:first-child) {
            input {
                border-top: none;
                &:focus {
                    border: 1px solid #66afe9;
                }
            }
        }
        input {
            border-radius: 0;
        }
    }
}

label.input-group-addon {
    min-width: 135px;
    background: $base1;
    color: white;
}

