#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $success;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: $zIndex4;
    .fa {
        font-size: 40px;
    }
}